<main class="product-container">
  <img src="{{prodImg()}}" alt="" width="100"
       height="100">
  <form class="product-container-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <label for="name">Name:</label>
  <input id="name" type="text" name="name" formControlName="name">

    <label for="description">Name:</label>
    <textarea id="description" name="description" formControlName="description"></textarea>

    <label for="price">Price:</label>
    <input id="price" type="number" name="price" formControlName="price">
  </form>

  <button type="button" (click)="onSubmit()">Save</button>
</main>
