.product-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: start;
  border: 5px solid black;

  &-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: start;

    input{
      border: 5px solid black;
    }

    textarea{
      border: 5px solid black;
    }
  }

  button {
    display: flex;
    align-self: end;
  }
}

.product-container > * {
  padding: 10px;
}
