.main-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  gap: 10px;

  &-image{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    height: 50%;

  }

  &-title{
    flex: 1;
  }

  &-button{
    display: flex;
    justify-content: end;
    align-self: end;
    padding: 5px;
    flex:1
  }
}
